/*Media
----------------------------------------------------------------------------------------------------*/
/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

.cookie-appear,
.cookie-enter,
.cookie-exit-done {
    opacity: 0;
    transform: translateY(2.5rem);
}

.cookie-appear-active,
.cookie-enter-active {
    opacity: 1;
    transform: translateY(0rem);
    transition-property: all;
    transition-delay: 2s;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.cookie-appear-done,
.cookie-enter-done,
.cookie-exit {
    opacity: 1;
    transform: translateY(0rem);
}

.cookie-exit-active {
    opacity: 0;
    transform: translateY(2.5rem);
    transition-property: all;
    transition-delay: 2s;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
