/*Media
----------------------------------------------------------------------------------------------------*/
/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/



/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .card-columns {
        overflow: hidden;
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;        
    }   
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .card-columns {
        overflow: hidden;
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important;
        -webkit-column-gap: 1.25rem !important;
        -moz-column-gap: 1.25rem !important;
        column-gap: 1.25rem !important;        

        & div.add-margin-top {
            display: inline-block;
            margin-top: 100px;
        }
    }        
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .card-columns {
        overflow: hidden;
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important;
        -webkit-column-gap: 3rem !important;
        -moz-column-gap: 3rem !important;
        column-gap: 3rem !important;        

        & div.add-margin-top {
            display: inline-block;
            margin-top: 150px;
        }
    }  
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .card-columns {
        overflow: hidden;
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important;
        -webkit-column-gap: 5rem !important;
        -moz-column-gap: 5rem !important;
        column-gap: 5rem !important;

        & div.add-margin-top {
            display: inline-block;
            margin-top: 200px;
        }
    }  
}
