@import "../../app/_variables.scss";

/*Media
----------------------------------------------------------------------------------------------------*/
/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

.postPartOne,
.postPartTwo {
    background-color: transparent !important;
    border: none !important;
}

.postPartOne {
    margin-bottom: 0 !important;
    @include fadeUp(2.5rem, 0rem, 0.1s, 0.9s);
}

.postPartTwo {
    margin-bottom: 5rem !important;
    @include fadeUp(2.5rem, 0rem, 0.3s, 0.7s);
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {    
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}